<div id="<%= dom_id transaction %>">
  <p>
    <strong>Operador:</strong>
    <%= transaction.full_name %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= transaction.amount %>
  </p>

  <p>
    <strong>Tiket:</strong>
    <%= transaction.image %>
  </p>

</div>
